.header {
    padding-top: 38px;
    padding-bottom: 38px;
    background-color: white;
}

@media (max-width: 1220px) {
    .header {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

@media (max-width: 720px) {
    .header {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 720px) {
    .header__container {
        flex-wrap: wrap;
        gap: 20px;
    }
}

.header__logo {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 25%;
}

@media (max-width: 720px) {
    .header__logo {
        flex-basis: 100%;
        text-align: center;
    }
}

.header__nav {
    flex-grow: 4;
}

.header__list {
    display: flex;
    gap: 31px;
    align-items: center;
    justify-content: center;
}

.header__link {
    line-height: 1.22;
    font-size: 1.8rem;
}

.header__button-wrapper {
    flex-grow: 1;
    text-align: right;
    flex-shrink: 0;
    flex-basis: 25%;
}

@media (max-width: 720px) {
    .header__button-wrapper {
        flex-basis: 100%;
        text-align: center;
    }
}
